* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: black;
  overflow-y: hidden;
}

header h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.homescreen-pictures {
  display: flex;
}

.homescreen-pictures img {
  width: 100%;
}

.first-page-text {
  color: white;
  grid-column: 3;
  grid-row: 2;
  width: 100%;
}

/* page structure */

.root {
  display: grid;
}

nav {
  width: 70px;
  height: 100vh;
  grid-row: 1 / 3;
  grid-column: 1;
  border-right: 3px solid orange;
}

header {
  width: calc(100vw - 70px);
  height: 50px;
  grid-row: 1;
  grid-column: 2;
  border-bottom: 3px solid orange;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: calc(100vw - 70px);
  height: calc(100vh - 50px);
  grid-row: 2;
  grid-column: 2;
  overflow-y: auto;
  padding: 20px;
}

.nav-img {
  width: 100%;
  height: 50px;
  border-bottom: 3px solid orange;
}

.nav-list {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  background-color: black;
}

.nav-list li {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid orange;
}
.img-ul {
  width: 67px;
  height: 132px;
}
span {
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}

.two-by-two-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.two-by-two-grid h2 {
  color: white;
  border: 2px white solid;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}

.header-img {
  width: 100%;
  height: 400px;
  background: url("/public/images/ferrari\ logo.png");
  background-size: cover;
}

img {
  width: 100%;
  height: 100%;
}

.kontakt-info {
  color: white;
  width: 25%;
  margin-left: 8%;
  margin-top: 6%;
}

.kontakt-form {
  color: white;
  margin: auto;
  text-align: right;
  margin-top: -343px;
  margin-right: 145px;
}

.white-recktangle1 {
  margin-left: 51.1%;
  margin-top: 5%;
  background-color: white;
  color: black;
  width: 300px;
}

.För-namn {
  color: white;
  margin-left: 51.1%;
  margin-top: -3.1%;
}

.white-recktangle2 {
  margin-left: 51.1%;
  margin-top: 5%;
  background-color: white;
  color: black;
  width: 300px;
}

.Efter-namn {
  color: white;
  margin-left: 51.1%;
  margin-top: -3.1%;
}

.white-recktangle3 {
  margin-left: 51.1%;
  margin-top: 5%;
  background-color: white;
  color: black;
  width: 300px;
}

.Adress {
  color: white;
  margin-left: 51.1%;
  margin-top: -3.1%;
}

.white-recktangle4 {
  margin-left: 51.1%;
  margin-top: 5%;
  background-color: white;
  color: black;
  width: 300px;
}

.Telefon-nummer {
  color: white;
  margin-left: 51.1%;
  margin-top: -3.1%;
}

.white-recktangle5 {
  margin-left: 51.1%;
  margin-top: 5%;
  background-color: white;
  color: black;
  width: 300px;
}

.Epost-adress {
  color: white;
  margin-left: 51.1%;
  margin-top: -3.1%;
}

.white-recktangle6 {
  margin-left: 51.1%;
  margin-top: 5%;
  background-color: white;
  color: black;
  width: 300px;
}

.Ärende {
  color: white;
  margin-left: 51.1%;
  margin-top: -3.1%;
}

.recktangle-main {
  margin-left: 27%;
  margin-top: 6%;
  color: rgba(0, 0, 0, 0.767);
  background-color: rgba(0, 0, 0, 0.8);
}

.recktangle-privat {
  margin-left: 34%;
  margin-top: -19%;
  background-color: rgb(176, 176, 176);
}

.recktangle-företag {
  margin-left: 52%;
  margin-top: -2.55%;
  background-color: rgb(176, 176, 176);
}

.Användarnamn {
  margin-left: 34%;
  margin-top: 2%;
  background-color: rgb(255, 255, 255);
  width: 28.4%;
}

.Lösenord {
  margin-left: 34%;
  margin-top: 2%;
  background-color: rgb(255, 255, 255);
  width: 28.4%;
}

.Kvadrat-kom-ihåg-mig {
  margin-left: 34%;
  margin-top: 2%;
  background-color: rgb(176, 176, 176);
}

.recktangle-privat p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.recktangle-företag p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

.recktangle-main p {
  display: flex;
  justify-content: center;
  align-items: top;
  color: white;
  margin-top: 30px;
  margin-right: 5px;
}

.recktangle-main p2 {
  display: flex;
  justify-content: bottom;
  align-items: bottom;
  color: rgb(85, 85, 255);
  margin-top: 180px;
  margin-left: 110px;
}

.recktangle-main p3 {
  display: flex;
  justify-content: bottom;
  align-items: bottom;
  color: rgb(85, 85, 255);
  margin-left: 220px;
  margin-top: -17px;
}

.recktangle-Logga-in {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  background-color: rgb(255, 255, 255);
  margin-left: 34%;
}
.click-here {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 1px;
  left: 1px;
}
